[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mysql-connector-python = "*"
paramiko = "*"

[requires]
python_version = "3.11"

[dev-packages]
pep8 = "*"
black = "*"
pylint = "*"

[pipenv]
allow_prereleases = true
