# This files holds example configuration for restoring a Joomla! backup
# You have to adjust these to your needs

[restore_source_paths]
uttendorf = /whatever/Backup/websitebackup/files/archives/uttendorf
tgi = /whatever/Backup/websitebackup/files/archives/tgi
magcos = /whatever/Backup/websitebackup/files/archives/magcos
ooetdv = /whatever/Backup/websitebackup/files/archives/ooetdv

[restore_target_paths]
uttendorf = /whatever/Projekte/websites/uttendorf/htdocs
tgi = /whatever/Projekte/websites/tgi/htdocs
magcos = /whatever/Projekte/websites/magcos/htdocs
ooetdv = /whatever/Projekte/websites/ooetdv/htdocs